<p> Orders</p>

<% @orders.each do |order| %>
    <p>
      <%= order.name %>
      <%= order.address %>
      <%= order.phone %>
      <% order.cart.products.each do |product, count| %>
          <%= product.name %>
      <% end %>
      <%= order.cart.total_price %>
    </p>
<% end %>

<p>
  <a href='http://localhost:8080/'> Back to main:</a>
</p>

<form method="POST" action="/order">
  <input name="delete_all_orders" type="hidden">
  <input type="submit" value="Delete all orders">
</form>
