<% @products.each do |pr| %>
    <p><a href='http://localhost:8080/<%= pr.name %>'><%= pr.name %>:</a>
      <%= pr.price %>
      <img src='/img/<%= pr.img %>' width='100' height='100'>
    </p>
    <form method="POST" action="/cart">
      <input name="product_name" value="<%= pr.name %>" type="hidden">
      <input type="submit" value="Add to cart">
    </form>
<% end %>

<p>
  <a href='/cart'> Go to cart:</a>
</p>